<include src="../template/normalHeader.html">
  @title = 收票信息录入
</include>

<div class="ui breadcrumb">
  <a class="section">费用付款管理</a>
  <div class="divider"> / </div>
  <a class="section" href="../pay/list.html">付款审批清单</a>
  <div class="divider"> / </div>
  <a class="section" href="../pay/single.html?id=CG12512312521">付款审批查询 - FK20171103001</a>
  <div class="divider"> / </div>
  <div class="active section">收票信息录入</div>
</div>

<div style="display: none" id="invoiceType">[{"id":1,"name":"专用发票17%"},{"id":2,"name":"专用发票11%"}]</div>
<input type="hidden" id="purchaseId" value="CG12512312521">
<div style="display: none" id="invoiceEdit">{"date":"2018-10-16","pay_id":0,"purchase_id":"14","lists":[{"id":7,"cost_id":"14","date":"2018-10-11","worker":"test","worker_id":"76","invoice_date":"2018-10-11","number":"333","type":5,"without_tax":"11.10","tax":"12.20","with_tax":"23.30","created_at":"2018-10-16 22:27:25","updated_at":"2018-10-16 22:27:25"},{"id":8,"cost_id":"14","date":"2018-10-24","worker":"test","worker_id":"76","invoice_date":"2018-10-24","number":"11","type":6,"without_tax":"10.00","tax":"5.00","with_tax":"15.00","created_at":"2018-10-16 22:27:25","updated_at":"2018-10-16 22:27:25"}]}</div>

<h1 class="ui red header blue center aligned">收票信息录入</h1>
<div class="invisible" id="payInvoiceCreate">

  <!-- 收票信息 -->
  <h4 class="ui dividing header blue">收票信息</h4>
  <div class="ui form form-item">
    <div class="ui three column doubling stackable grid">
      <div class="column">
        <div class="inline fields">
          <label class="four wide field">收票日期</label>
          <div class="twelve wide field">
            <el-date-picker v-model="invoiceCreate.date" type="date" placeholder="请选择收票日期" value-format="yyyy-MM-dd">
            </el-date-picker>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="inline fields">
          <label class="four wide field">收票经办人</label>
          <div class="twelve wide field">
            <div class="fake-input">陈先生</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /收票信息 -->

  <!-- 收票录入 -->
  <h4 class="ui dividing header blue">收票录入</h4>
  <div class="flex-row flex-end">
    <button class="ui icon button positive" @click="addItem">
      <i class="icon plus"></i>
      <span>添加发票</span>
    </button>
  </div>
  <h4 class="inline-center">发票清单</h4>
  <div class="ui form form-item margin-top-50">
    <div class="ui five column doubling stackable grid font-size-13">
      <div class="one wide column form-thead">序号</div>
      <div class="two wide column form-thead">开票日期</div>
      <div class="three wide column form-thead">发票号码</div>
      <div class="two wide column form-thead">发票类型</div>
      <div class="two wide column form-thead">不含税金额</div>
      <div class="two wide column form-thead">税额</div>
      <div class="two wide column form-thead">含税金额</div>
      <div class="two wide column form-thead">操作</div>
    </div>
    <transition-group name="slide-down" tag="div" class="form-wrap special-form">
      <div class="ui column doubling stackable grid center aligned" v-for="(item, index) in invoiceCreate.lists" :key="item.id">
        <div class="one wide column">
          <div class="fake-input">{{ index + 1 }}</div>
        </div>
        <div class="two wide column">
          <el-date-picker v-model="item.date" type="date" placeholder="开票日期" value-format="yyyy-MM-dd">
          </el-date-picker>
        </div>
        <div class="three wide column">
          <input type="text" v-model="item.number" placeholder="发票号码">
        </div>
        <div class="two wide column">
          <el-select v-model="item.type" placeholder="发票类型">
            <el-option v-for="item in invoiceType" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </div>
        <div class="two wide column">
          <input type="text" v-model.number="item.without_tax" placeholder="不含税">
        </div>
        <div class="two wide column">
          <input type="text" v-model.number="item.tax" placeholder="税额">
        </div>
        <div class="two wide column">
          <!-- <input type="text" v-model.number="item.with_tax" placeholder="含税金额"> -->
          <div class="fake-input">{{ add(item.without_tax, item.tax, 22).toLocaleString('en-US') }}</div>
        </div>
        <div class="two wide column">
          <div class="fake-input">
            <i class="icon minus red" style="cursor:pointer;" @click="deleteItem('lists', item, index)"></i>
          </div>
        </div>
      </div>
    </transition-group>
  </div>
  <!-- /收票录入 -->
  <div class="inline-center margin-top-20">
    <button class="ui button green large" @click="submitForm">
      <i class="icon hand pointer"></i>
      <span>提交</span>
    </button>
  </div>
</div>

<include src="../template/footer.html">
  @js = ../../src/js/pay_invoice_create.js
</include>