<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- 全局依赖 ==== 所有页面都要有 -->
<link rel="stylesheet" type="text/css" href="../../plugins/semantic/semantic.min.css">
<link rel="stylesheet" type="text/css" href="../../plugins/element-ui/index.css">
<!-- <link rel="stylesheet" href="../../plugins/nprogress/nprogress.css"> -->
<link rel="stylesheet" type="text/css" href="../../src/css/erp.css">
<!-- /全局依赖 -->

  <title>权限设置 - 15823910212</title>
</head>

<body id="index">
  <!-- 通用布局 === 复用 -->
  <div class="index-navbar ui menu blue-background print-hide">
    <span class="index-navbar-item-left pull-left">
      <span>森乾科技</span>
    </span>
    <div class="index-navbar-item-show right menu">
      <a class="item">
        <i class="user icon"></i>
        <span>管理员</span>
      </a>
      <a class="item">
        <i class="help circle icon"></i>
        <span>帮助</span>
      </a>
      <a class="item">
        <i class="sound icon"></i>
        <span>客服</span>
      </a>
      <a class="item">
        <i class="power icon"></i>
        <span>退出</span>
      </a>
    </div>
    <div class="index-navbar-item-hidden margin-right ui dropdown">操作
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">
          <i class="user icon"></i>
          <span>管理员</span>
        </a>
        <a class="item">
          <i class="help circle icon"></i>
          <span>帮助</span>
        </a>
        <a class="item">
          <i class="sound icon"></i>
          <span>客服</span>
        </a>
        <a class="item">
          <i class="power icon"></i>
          <span>退出</span>
        </a>
      </div>
    </div>
  </div>

  <!-- 没有导航的单独窗口页面 -->
  <div class="normal-content print-no-padding">

<div class="ui breadcrumb">
  <a class="section">项目立项管理</a>
  <div class="divider"> / </div>
  <a class="section" href="../project/detail.html">项目明细</a>
  <div class="divider"> / </div>
  <div class="active section">权限设置 - 15823910212</div>
</div>

<input type="hiden" value="" id="person">
<input type="hiden" value="" id="projectId">

<h4 class="ui dividing header blue">项目基本信息</h4>
<div class="ui form form-item">
  <div class="ui three column doubling stackable grid">
    <div class="column">
      <div class="inline fields">
        <label class="four wide field">项目号</label>
        <div class="twelve wide field">
          <div class="fake-input">XM15823910212</div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="inline fields">
        <label class="four wide field">立项日期</label>
        <div class="twelve wide field">
          <div class="fake-input">2018-01-02</div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="inline fields">
        <label class="four wide field">项目内容</label>
        <div class="twelve wide field">
          <div class="fake-input">这是内容</div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="inline fields">
        <label class="four wide field">项目经理</label>
        <div class="twelve wide field">
          <div class="fake-input">陈一发</div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="inline fields">
        <label class="four wide field">验收日期</label>
        <div class="twelve wide field">
          <div class="fake-input">2018-01-22</div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="inline fields">
        <label class="four wide field">保修截止日期</label>
        <div class="twelve wide field">
          <div class="fake-input">2018-01-22</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 第一项 -->
<h4 class="ui dividing header blue">立项日期
  <span style="margin: 0 30px;">至验收日期</span> 权限设置情况</h4>
<div style="text-align: right;">
  <button class="ui button positive auth-add" data-type="1">新增人员</button>
</div>
<table class="ui center aligned table unstackable">
  <thead>
    <tr>
      <th></th>
      <th>开放人员</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>张某某</td>
      <td>
        <a href="javascript:_helper.fullWindow('../project/auth_edit.html?id=1')" class="ui primary mini button">查询权限设置</a>
        <button class="ui negative mini button auth-delete">删除</button>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>张某某</td>
      <td>
        <a href="javascript:_helper.fullWindow('../project/auth_edit.html?id=2')" class="ui primary mini button">查询权限设置</a>
        <button class="ui negative mini button auth-delete">删除</button>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>张某某</td>
      <td>
        <a href="javascript:_helper.fullWindow('../project/auth_edit.html?id=3')" class="ui primary mini button">查询权限设置</a>
        <button class="ui negative mini button auth-delete">删除</button>
      </td>
    </tr>
  </tbody>
</table>
<!-- /第一项 -->

<!-- 第二项 -->
<h4 class="ui dividing header blue">验收日期
  <span style="margin: 0 30px;">至保修截止日期</span> 权限设置情况</h4>
<div style="text-align: right;">
  <button class="ui button positive auth-add" data-type="2">新增人员</button>
</div>
<table class="ui center aligned table unstackable">
  <thead>
    <tr>
      <th></th>
      <th>开放人员</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>张某某</td>
      <td>
        <a href="javascript:_helper.fullWindow('../project/auth_edit.html?id=1')" class="ui primary mini button">查询权限设置</a>
        <button class="ui negative mini button auth-delete">删除</button>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>张某某</td>
      <td>
        <a href="javascript:_helper.fullWindow('../project/auth_edit.html?id=2')" class="ui primary mini button">查询权限设置</a>
        <button class="ui negative mini button auth-delete">删除</button>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>张某某</td>
      <td>
        <a href="javascript:_helper.fullWindow('../project/auth_edit.html?id=3')" class="ui primary mini button">查询权限设置</a>
        <button class="ui negative mini button auth-delete">删除</button>
      </td>
    </tr>
  </tbody>
</table>
<!-- /第二项 -->

<!-- 第三项 -->
<h4 class="ui dividing header blue">保修截止日期
  <span style="margin: 0 30px;">至</span> 权限设置情况</h4>
<div style="text-align: right;">
  <button class="ui button positive auth-add" data-type="3">新增人员</button>
</div>
<table class="ui center aligned table unstackable">
  <thead>
    <tr>
      <th></th>
      <th>开放人员</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>张某某</td>
      <td>
        <a href="javascript:_helper.fullWindow('../project/auth_edit.html?id=1')" class="ui primary mini button">查询权限设置</a>
        <button class="ui negative mini button auth-delete">删除</button>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>张某某</td>
      <td>
        <a href="javascript:_helper.fullWindow('../project/auth_edit.html?id=2')" class="ui primary mini button">查询权限设置</a>
        <button class="ui negative mini button auth-delete" data-id="1">删除</button>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>张某某</td>
      <td>
        <a href="javascript:_helper.fullWindow('../project/auth_edit.html?id=3')" class="ui primary mini button">查询权限设置</a>
        <button class="ui negative mini button auth-delete">删除</button>
      </td>
    </tr>
  </tbody>
</table>
<!-- /第三项 -->


<div class="ui page dimmer" id="memberChoose">
  <div class="content">
    <div class="center">
      <div class="buy_dialog">
        <div class="dialog_header">选择人员</div>
        <div class="dialog_content">
          <el-radio-group v-model="checkedMen" @change="handleCheckManChange">
            <el-radio v-for="man in menList" :label="man.id" :key="man.id">{{man.name}}</el-radio>
          </el-radio-group>
        </div>
        <div class="diolag_footer">
          <button class="ui button negative" @click="cancelClick">取 消</button>
          <button class="ui button primary" @click="confirmRecheck">确 定</button>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<!-- /主体内容 === 不可复用 -->

<!-- 全局依赖 js === 通用 -->
<script src="../../plugins/jquery/jquery.3.2.1.min.js"></script>
<script src="../../plugins/vue/vue.min.js"></script>
<script src="../../plugins/semantic/semantic.min.js"></script>
<script src="../../plugins/element-ui/index.min.js"></script>
<!-- <script src="../../plugins/lodash/lodash.min.js"></script> -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../plugins/axios/qs.min.js"></script>
<!-- <script src="../../plugins/nprogress/nprogress.js"></script> -->
<!-- <script src="../../plugins/layDate/laydate.js"></script> -->
<script src="../../src/js/helper.js"></script>
<script src="../../src/js/api.js"></script>
<script src="../../src/js/schema.js"></script>
<script src="../../src/js/global.js"></script>
<!-- / 全局依赖 js === 通用 -->
<!-- 独立 js -->
<script src="../../src/js/project_auth.js"></script>
<!-- / 独立 js -->
</body>

</html>