<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- 获取通用样式 -->
  <!-- 全局依赖 ==== 所有页面都要有 -->
<link rel="stylesheet" type="text/css" href="../../plugins/semantic/semantic.min.css">
<link rel="stylesheet" type="text/css" href="../../plugins/element-ui/index.css">
<!-- <link rel="stylesheet" href="../../plugins/nprogress/nprogress.css"> -->
<link rel="stylesheet" type="text/css" href="../../src/css/erp.css">
<!-- /全局依赖 -->
  <!-- 获取通用样式 -->

  <title>登录</title>
</head>

<body id="login">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui blue image header">
        <div class="content">登录</div>
      </h2>
      <form class="ui large form ">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input id="phoneValidate" type="text" name="phone" placeholder="输入登录手机号">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="输入密码">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input action">
              <i class="keyboard icon"></i>
              <input type="text" name="sms" placeholder="验证码">
              <div class="ui button disabled blue" id="smsBtn">获取验证码</div>
            </div>
          </div>
          <div class="ui fluid large blue submit button">登录</div>
        </div>

        <div class="ui error message"></div>

      </form>
    </div>
  </div>

  <!-- 全局依赖 js === 通用 -->
  <!-- 全局依赖 js === 通用 -->
<script src="../../plugins/jquery/jquery.3.2.1.min.js"></script>
<script src="../../plugins/vue/vue.min.js"></script>
<script src="../../plugins/semantic/semantic.min.js"></script>
<script src="../../plugins/element-ui/index.min.js"></script>
<!-- <script src="../../plugins/lodash/lodash.min.js"></script> -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../plugins/axios/qs.min.js"></script>
<!-- <script src="../../plugins/nprogress/nprogress.js"></script> -->
<!-- <script src="../../plugins/layDate/laydate.js"></script> -->
<script src="../../src/js/helper.js"></script>
<script src="../../src/js/api.js"></script>
<script src="../../src/js/schema.js"></script>
<script src="../../src/js/global.js"></script>
<!-- / 全局依赖 js === 通用 -->
  <!-- / 全局依赖 js === 通用 -->


  <!-- 独立 js === 每个页面独有-->
  <script src="../../src/js/login.js"></script>
  <!-- /独立 js -->
</body>

</html>