<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- 全局依赖 ==== 所有页面都要有 -->
<link rel="stylesheet" type="text/css" href="../../plugins/semantic/semantic.min.css">
<link rel="stylesheet" type="text/css" href="../../plugins/element-ui/index.css">
<!-- <link rel="stylesheet" href="../../plugins/nprogress/nprogress.css"> -->
<link rel="stylesheet" type="text/css" href="../../src/css/erp.css">
<!-- /全局依赖 -->

  <title>预算外采购</title>
</head>

<body id="index">
  <!-- 通用布局 === 复用 -->
  <div class="index-navbar ui menu blue-background print-hide">
    <span class="index-navbar-item-left pull-left">
      <span>森乾科技</span>
    </span>
    <div class="index-navbar-item-show right menu">
      <a class="item">
        <i class="user icon"></i>
        <span>管理员</span>
      </a>
      <a class="item">
        <i class="help circle icon"></i>
        <span>帮助</span>
      </a>
      <a class="item">
        <i class="sound icon"></i>
        <span>客服</span>
      </a>
      <a class="item">
        <i class="power icon"></i>
        <span>退出</span>
      </a>
    </div>
    <div class="index-navbar-item-hidden margin-right ui dropdown">操作
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">
          <i class="user icon"></i>
          <span>管理员</span>
        </a>
        <a class="item">
          <i class="help circle icon"></i>
          <span>帮助</span>
        </a>
        <a class="item">
          <i class="sound icon"></i>
          <span>客服</span>
        </a>
        <a class="item">
          <i class="power icon"></i>
          <span>退出</span>
        </a>
      </div>
    </div>
  </div>

  <!-- 没有导航的单独窗口页面 -->
  <div class="normal-content print-no-padding">

<div class="ui breadcrumb">
  <a class="section">采购管理</a>
  <div class="divider"> / </div>
  <a class="section" href="../buy/project_list.html">采购立项清单</a>
  <div class="divider"> / </div>
  <div class="active section">预算外采购</div>
</div>
<h1 class="ui red header blue center aligned">预算外采购</h1>
<div class="invisible" id="buyExtrabudgetary">

  <!-- 选择项目 -->
  <h4 class="ui dividing header blue">选择项目</h4>
  <div class="ui form form-item">
    <div class="ui three column doubling stackable grid">
      <div class="column">
        <div class="inline fields">
          <label class="four wide field">项目编号</label>
          <div class="twelve wide field">
            <el-autocomplete popper-class="my-autocomplete" v-model="project.id" :fetch-suggestions="querySearchProjectId" placeholder="请输入项目编号"
              @select="handleSelectProjectId">
              <i class="el-icon-edit el-input__icon" slot="suffix">
              </i>
              <template slot-scope="props">
                <div class="name">{{ props.item.id }}</div>
                <span class="addr">{{ props.item.name }}</span>
              </template>
            </el-autocomplete>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="inline fields">
          <label class="four wide field">项目内容</label>
          <div class="twelve wide field">
            <el-autocomplete popper-class="my-autocomplete" v-model="project.content" :fetch-suggestions="querySearch" placeholder="请输入项目内容"
              @select="handleSelect">
              <i class="el-icon-edit el-input__icon" slot="suffix">
              </i>
              <template slot-scope="props">
                <div class="name">{{ props.item.name }}</div>
                <span class="addr">{{ props.item.id }}</span>
              </template>
            </el-autocomplete>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /选择项目 -->

  <!-- 基本信息 -->
  <h4 class="ui dividing header blue">基本信息</h4>
  <div class="ui form form-item">
    <div class="ui three column doubling stackable grid">
      <div class="column">
        <div class="inline fields">
          <label class="four wide field">采购日期</label>
          <div class="twelve wide field">
            <el-date-picker v-model="extrabudgetary.date" type="date" placeholder="请选择采购日期" value-format="yyyy-MM-dd">
            </el-date-picker>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="inline fields">
          <label class="four wide field">供货商名称</label>
          <div class="twelve wide field">
            <el-autocomplete popper-class="my-autocomplete" v-model="extrabudgetary.supplier.name" :fetch-suggestions="querySearchSupplier"
              placeholder="请输入供货商名称" @select="handleSelectSupplier">
              <i class="el-icon-edit el-input__icon" slot="suffix">
              </i>
              <template slot-scope="props">
                <div class="name">{{ props.item.name }}</div>
                <div class="addr">{{ props.item.bank }}</div>
              </template>
            </el-autocomplete>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="inline fields">
          <label class="four wide field">供货商收款银行</label>
          <div class="twelve wide field">
            <div class="fake-input">{{ extrabudgetary.supplier.bank || '暂无数据' }}</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="inline fields">
          <label class="four wide field">供货商收款账号</label>
          <div class="twelve wide field icon input">
            <div class="fake-input">{{ extrabudgetary.supplier.account || '暂无数据' }}</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="inline fields">
          <label class="four wide field">付款条件</label>
          <div class="twelve wide field">
            <input v-model="extrabudgetary.payment_condition" type="text" placeholder="请输入付款条件">
          </div>
        </div>
      </div>
      <div class="column">
        <div class="inline fields">
          <label class="four wide field">付款条件</label>
          <div class="twelve wide field">
            <el-select v-model="extrabudgetary.invoice_condition" placeholder="请选择内容">
              <el-option v-for="item in [{id:1,name:'专用发票17%'},{id:2,name:'专用发票11%'}]" :key="item.id" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / 基本信息 -->

  <!-- 采购物料清单 -->
  <h4 class="ui dividing header blue">采购物料清单</h4>
  <div class="flex-row" style="width:50%;">
    <div class="font-bold" style="white-space:nowrap;align-self:flex-end;margin-right:20px;">采购金额</div>
    <div class="fake-input inline-center">{{ extrabudgetary.amount.toLocaleString('en-US') || 0 }} ￥</div>
  </div>
  <div class="flex-row flex-end margin-top-20">
    <div style="width:40%;">
      <div class="ui action input" style="width:100%;">
        <el-autocomplete popper-class="my-autocomplete" v-model="newMaterial.name" @input="materialInput" :fetch-suggestions="querySearchMaterial"
          placeholder="请输入物料名称" @select="handleSelectMaterial">
          <i class="el-icon-edit el-input__icon" slot="suffix">
          </i>
          <template slot-scope="props">
            <div class="name">{{ props.item.name }}</div>
            <span class="addr">{{ props.item.address }}</span>
          </template>
        </el-autocomplete>
        <button class="ui mini button positive" @click="addMaterial">添加物料</button>
      </div>
    </div>
  </div>
  <h4 class="inline-center">采购物料清单</h4>
  <div class="ui form form-item">
    <div class="ui five column doubling stackable grid font-size-13">
      <div class="two wide column form-thead">物料名称</div>
      <div class="two wide column form-thead">性能及技术参数</div>
      <div class="one wide column form-thead">品牌型号</div>
      <div class="two wide column form-thead">生产厂家</div>
      <div class="one wide column form-thead">单位</div>
      <div class="one wide column form-thead">单价</div>
      <div class="one wide column form-thead">数量</div>
      <div class="one wide column form-thead">金额</div>
      <div class="two wide column form-thead">保修截至日期</div>
      <div class="two wide column form-thead">保修时间</div>
      <div class="one wide column form-thead">操作</div>
    </div>
    <transition-group name="slide-down" tag="div" class="form-wrap special-form">
      <div class="ui column doubling stackable grid center aligned" v-for="(item, index) in extrabudgetary.list" :key="item.id">
        <template v-if="item.__type === 'new'">
          <div class="two wide column">
            <input v-model="item.material.name" type="text" placeholder="物料名称">
          </div>
          <div class="two wide column">
            <input v-model="item.material.parameter" type="text" placeholder="性能及技术参数">
          </div>
          <div class="one wide column">
            <input v-model="item.material.model" type="text" placeholder="品牌型号">
          </div>
          <div class="two wide column">
            <input v-model="item.material.manufacturer" type="text" placeholder="生产厂家">
          </div>
          <div class="one wide column">
            <input v-model="item.material.unit" type="text" placeholder="单位">
          </div>
          <div class="one wide column">
            <input v-model.number="item.material.price" type="number" placeholder="单价">
          </div>
        </template>

        <template v-else>
          <div class="two wide column">
            <div class="fake-input">{{ item.material && item.material.name || '无'}}</div>
          </div>
          <div class="two wide column">
            <div class="fake-input">{{ item.material && item.material.parameter || '无'}}</div>
          </div>
          <div class="one wide column">
            <div class="fake-input">{{ item.material && item.material.model || '无'}}</div>
          </div>
          <div class="two wide column">
            <div class="fake-input">{{ item.material && item.material.manufacturer || '无'}}</div>
          </div>
          <div class="one wide column">
            <div class="fake-input">{{ item.material && item.material.unit || '无'}}</div>
          </div>
          <div class="one wide column">
            <div class="fake-input">{{ item.material && item.material.price.toLocaleString('en-US') || 0}} ￥</div>
          </div>
        </template>
        <div class="one wide column">
          <input v-model.number="item.quantity" type="number" min="0" placeholder="数量">
        </div>
        <div class="one wide column">
          <input v-model.number="item.amount" type="number" placeholder="金额">
        </div>
        <div class="two wide column">
          <el-date-picker v-model="item.deadline" type="date" placeholder="截至日期" value-format="yyyy-MM-dd">
          </el-date-picker>
        </div>
        <div class="two wide column">
          <input v-model="item.deadline_time" type="text" placeholder="保修时间">
        </div>
        <div class="one wide column flex-row">
          <div class="fake-input">
            <i class="icon minus red" style="cursor:pointer;" @click="deleteItem('list', item, index)"></i>
          </div>
        </div>
      </div>
    </transition-group>
  </div>

  <!-- /采购物料清单 -->

  <!-- 合同 -->
  <h4 class="ui dividing header blue">合同</h4>
  <div class="flex-row flex-end">
    <label class="ui icon button positive">
      <i class="icon upload"></i>
      <span>添加合同</span>
      <input style="display:none;" type="file" multiple @change="uploadContract($event)">
    </label>
  </div>
  <h4 class="inline-center">合同清单</h4>
  <div class="ui form form-item">
    <div class="ui five column doubling stackable grid font-size-13">
      <div class="two wide column form-thead">序号</div>
      <div class="six wide column form-thead">合同名称</div>
      <div class="six wide column form-thead">访问地址</div>
      <div class="two wide column form-thead">操作</div>
    </div>
    <transition-group name="slide-down" tag="div" class="form-wrap special-form">
      <div class="ui column doubling stackable grid center aligned" v-for="(item, index) in extrabudgetary.contracts" :key="item.id">
        <div class="two wide column">
          <div class="fake-input">{{ index + 1 }}</div>
        </div>
        <div class="six wide column">
          <div class="fake-input">{{ item.name }}</div>
        </div>
        <div class="six wide column">
          <div class="fake-input">
            <a :href="item.url" target="_blank">{{ item.url }}</a>
          </div>
        </div>
        <div class="two wide column flex-row">
          <div class="fake-input">
            <i class="icon minus red" style="cursor:pointer;" @click="deleteItem('contracts', item, index)"></i>
          </div>
        </div>
      </div>
    </transition-group>
  </div>
  <!-- /合同 -->
  <div class="inline-center margin-top-20">
    <button class="ui button green large" @click="submitForm">
      <i class="icon hand pointer"></i>
      <span>提交</span>
    </button>
  </div>
</div>
</div>
<!-- /主体内容 === 不可复用 -->

<!-- 全局依赖 js === 通用 -->
<script src="../../plugins/jquery/jquery.3.2.1.min.js"></script>
<script src="../../plugins/vue/vue.min.js"></script>
<script src="../../plugins/semantic/semantic.min.js"></script>
<script src="../../plugins/element-ui/index.min.js"></script>
<!-- <script src="../../plugins/lodash/lodash.min.js"></script> -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../plugins/axios/qs.min.js"></script>
<!-- <script src="../../plugins/nprogress/nprogress.js"></script> -->
<!-- <script src="../../plugins/layDate/laydate.js"></script> -->
<script src="../../src/js/helper.js"></script>
<script src="../../src/js/api.js"></script>
<script src="../../src/js/schema.js"></script>
<script src="../../src/js/global.js"></script>
<!-- / 全局依赖 js === 通用 -->
<!-- 独立 js -->
<script src="../../src/js/buy_extrabudgetary.js"></script>
<!-- / 独立 js -->
</body>

</html>