<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- 全局依赖 ==== 所有页面都要有 -->
<link rel="stylesheet" type="text/css" href="../../plugins/semantic/semantic.min.css">
<link rel="stylesheet" type="text/css" href="../../plugins/element-ui/index.css">
<!-- <link rel="stylesheet" href="../../plugins/nprogress/nprogress.css"> -->
<link rel="stylesheet" type="text/css" href="../../src/css/erp.css">
<!-- /全局依赖 -->

  <title>凭证</title>
</head>

<body id="index">
  <!-- 通用布局 === 复用 -->
  <div class="index-navbar ui menu blue-background print-hide">
    <span class="index-navbar-item-left pull-left">
      <span>森乾科技</span>
    </span>
    <div class="index-navbar-item-show right menu">
      <a class="item">
        <i class="user icon"></i>
        <span>管理员</span>
      </a>
      <a class="item">
        <i class="help circle icon"></i>
        <span>帮助</span>
      </a>
      <a class="item">
        <i class="sound icon"></i>
        <span>客服</span>
      </a>
      <a class="item">
        <i class="power icon"></i>
        <span>退出</span>
      </a>
    </div>
    <div class="index-navbar-item-hidden margin-right ui dropdown">操作
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">
          <i class="user icon"></i>
          <span>管理员</span>
        </a>
        <a class="item">
          <i class="help circle icon"></i>
          <span>帮助</span>
        </a>
        <a class="item">
          <i class="sound icon"></i>
          <span>客服</span>
        </a>
        <a class="item">
          <i class="power icon"></i>
          <span>退出</span>
        </a>
      </div>
    </div>
  </div>

  <!-- 没有导航的单独窗口页面 -->
  <div class="normal-content print-no-padding">

<div class="ui breadcrumb print-hide">
  <a class="section">采购管理</a>
  <div class="divider"> / </div>
  <a class="section" href="../buy/charge_list.html">采购收票清单</a>
  <div class="divider"> / </div>
  <a class="section" href="../buy/invoice_list.html?id=CG12512312521">采购收票查询 - CG12512312521</a>
  <div class="divider"> / </div>
  <div class="active section">凭证</div>
</div>

<h1 class="ui header center aligned">采购收票记账凭证</h1>
<p style="text-align:right;font-size: 13px;padding-right:25px;">记账凭证号：12312321231321321</p>
<p style="text-align:right;font-size: 13px;padding-right:25px;">附件：
  <span style="margin-right:60px;"></span> 张</p>
<table class="ui celled center aligned table selectable">
  <thead>
    <tr>
      <th class="bg-white">采购编号</th>
      <th class="font-normal bg-white" colspan="4">CG15123122</th>
      <th class="bg-white">采购日期</th>
      <th class="font-normal bg-white" colspan="3">2018-05-04</th>
    </tr>
    <tr>
      <th class="bg-white">供货商名称</th>
      <th class="font-normal bg-white" colspan="4">xxx供应商</th>
      <th class="bg-white">发票条件</th>
      <th class="font-normal bg-white" colspan="3">专用票17%</th>
    </tr>
    <tr>
      <th class="bg-white">项目编号</th>
      <th class="font-normal bg-white" colspan="2">XM5123215213</th>
      <th class="bg-white">项目内容</th>
      <th class="font-normal bg-white" colspan="2">这是项目内容xxxx</th>
      <th class="bg-white">项目经理</th>
      <th class="font-normal bg-white" colspan="2">陈经理</th>
    </tr>
    <tr>
      <th class="bg-white">采购金额</th>
      <th class="font-normal bg-white" colspan="4">1,000,000 ￥</th>
      <th class="bg-white">未收票</th>
      <th class="font-normal bg-white" colspan="3">50,231 ￥</th>
    </tr>
    <tr>
      <th colspan="9">收票记录</th>
    </tr>
    <tr>
      <th></th>
      <th>收票日期</th>
      <th>开票日期</th>
      <th>发票号码</th>
      <th>发票类型</th>
      <th>不含税金额</th>
      <th>税额</th>
      <th>含税金额</th>
      <th>收票经办人</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>2018-09-11</td>
      <td>2018-09-11</td>
      <td>343425623423632423</td>
      <td>专用票17%</td>
      <td>200,000.00 ￥</td>
      <td>200,000.00 ￥</td>
      <td>200,000.00 ￥</td>
      <td>陈秋芳</td>
    </tr>
    <tr>
      <td>2</td>
      <td>2018-09-11</td>
      <td>2018-09-11</td>
      <td>343425623423632423</td>
      <td>专用票17%</td>
      <td>200,000.00 ￥</td>
      <td>200,000.00 ￥</td>
      <td>200,000.00 ￥</td>
      <td>陈秋芳</td>
    </tr>
    <tr>
      <td>3</td>
      <td>2018-09-11</td>
      <td>2018-09-11</td>
      <td>343425623423632423</td>
      <td>专用票17%</td>
      <td>200,000.00 ￥</td>
      <td>200,000.00 ￥</td>
      <td>200,000.00 ￥</td>
      <td>陈秋芳</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5">合计</th>
      <th>200,000.00 ￥</th>
      <th>200,000.00 ￥</th>
      <th>200,000.00 ￥</th>
      <th></th>
    </tr>
  </tfoot>
</table>
<div class="content-operation print-hide">
  <div class="flex-row flex-end">
    <a class="ui icon button primary" href="javascript:window.print();">
      <i class="icon print"></i>
      <span>打印</span>
    </a>
  </div>
</div>

</div>
<!-- /主体内容 === 不可复用 -->

<!-- 全局依赖 js === 通用 -->
<script src="../../plugins/jquery/jquery.3.2.1.min.js"></script>
<script src="../../plugins/vue/vue.min.js"></script>
<script src="../../plugins/semantic/semantic.min.js"></script>
<script src="../../plugins/element-ui/index.min.js"></script>
<!-- <script src="../../plugins/lodash/lodash.min.js"></script> -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../plugins/axios/qs.min.js"></script>
<!-- <script src="../../plugins/nprogress/nprogress.js"></script> -->
<!-- <script src="../../plugins/layDate/laydate.js"></script> -->
<script src="../../src/js/helper.js"></script>
<!-- <script src="../../src/js/api.js"></script> -->
<script src="../../src/js/schema.js"></script>
<script src="../../src/js/global.js"></script>
<!-- / 全局依赖 js === 通用 -->
<!-- 独立 js -->
<script src=""></script>
<!-- / 独立 js -->
</body>

</html>