<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- 全局依赖 ==== 所有页面都要有 -->
<link rel="stylesheet" type="text/css" href="../../plugins/semantic/semantic.min.css">
<link rel="stylesheet" type="text/css" href="../../plugins/element-ui/index.css">
<!-- <link rel="stylesheet" href="../../plugins/nprogress/nprogress.css"> -->
<link rel="stylesheet" type="text/css" href="../../src/css/erp.css">
<!-- /全局依赖 -->

  <title>采购清单</title>
</head>

<body>
  <!-- 通用布局 === 复用 -->
  <div class="index-navbar ui menu blue-background print-hide">
    <span id="sidebarBtn" class="index-navbar-item-left pull-left">
      <i class="sidebar icon"></i>
      <span>森乾科技</span>
    </span>
    <div class="index-navbar-item-show right menu">
      <a class="item">
        <i class="user icon"></i>
        <span>管理员</span>
      </a>
      <a class="item">
        <i class="help circle icon"></i>
        <span>帮助</span>
      </a>
      <a class="item">
        <i class="sound icon"></i>
        <span>客服</span>
      </a>
      <a class="item">
        <i class="power icon"></i>
        <span>退出</span>
      </a>
    </div>
    <div class="index-navbar-item-hidden margin-right ui dropdown">操作
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">
          <i class="user icon"></i>
          <span>管理员</span>
        </a>
        <a class="item">
          <i class="help circle icon"></i>
          <span>帮助</span>
        </a>
        <a class="item">
          <i class="sound icon"></i>
          <span>客服</span>
        </a>
        <a class="item">
          <i class="power icon"></i>
          <span>退出</span>
        </a>
      </div>
    </div>
  </div>
  <div class="index-aside invisible print-hide" id="navbar">
    <el-menu :unique-opened="true" :default-active="navActive" class="el-menu-vertical-demo">
      <el-menu-item index="index" style="padding:0;">
        <a href="../index/index.html" slot="title" style="padding-left:20px">
          <i class="icon home"></i>
          <span>首页</span>
        </a>
      </el-menu-item>
      <el-submenu index="project">
        <template slot="title">
          <i class="icon sticky note"></i>
          <span>项目立项管理</span>
        </template>
        <el-menu-item index="projectDetail">
          <a href="../project/detail.html">项目明细清单</a>
        </el-menu-item>
        <el-menu-item index="projectList">
          <a href="../project/list.html">已立项清单</a>
        </el-menu-item>
      </el-submenu>
      <el-submenu index="budget">
        <template slot="title">
          <i class="icon hashtag"></i>
          <span>预算管理</span>
        </template>
        <el-menu-item index="budgetList">
          <a href="../budget/list.html">预算清单</a>
        </el-menu-item>
      </el-submenu>
      <el-submenu index="check">
        <template slot="title">
          <i class="icon suitcase"></i>
          <span>验收与收款管理</span>
        </template>
        <el-menu-item index="checkCheck">
          <a href="../check/list.html">验收与收款清单</a>
        </el-menu-item>
        <el-menu-item index="checkTips">
          <a href="../check/tips.html">收款提示</a>
        </el-menu-item>
      </el-submenu>
      <el-submenu index="buy">
        <template slot="title">
          <i class="icon shopping basket"></i>
          <span>采购管理</span>
        </template>
        <el-menu-item index="buyList">
          <a href="../buy/list.html">采购清单</a>
        </el-menu-item>
        <el-menu-item index="buyProjectList">
          <a href="../buy/project_list.html">采购立项清单</a>
        </el-menu-item>
        <el-menu-item index="buyPayList">
          <a href="../buy/pay_list.html">采购付款清单</a>
        </el-menu-item>
        <el-menu-item index="buyChargeList">
          <a href="../buy/charge_list.html">采购收票清单</a>
        </el-menu-item>
        <el-menu-item index="buyCollect">
          <a href="../buy/collect.html">采购汇总清单</a>
        </el-menu-item>
        <el-menu-item index="buyParity">
          <a href="../buy/parity.html">物料采购比价</a>
        </el-menu-item>
      </el-submenu>
      <el-submenu index="stock">
        <template slot="title">
          <i class="icon archive"></i>
          <span>库存管理</span>
        </template>
        <el-menu-item index="stockList">
          <a href="../stock/list.html">库存清单</a>
        </el-menu-item>
        <el-menu-item index="stockBuyList">
          <a href="../stock/buy_list.html">采购收货清单</a>
        </el-menu-item>
        <el-menu-item index="stockReturnList">
          <a href="../stock/return_list.html">退料入库清单</a>
        </el-menu-item>
        <el-menu-item index="stockGetList">
          <a href="../stock/get_list.html">领料出库清单</a>
        </el-menu-item>
        <el-menu-item index="stockOutList">
          <a href="../stock/out_list.html">退货出库清单</a>
        </el-menu-item>
      </el-submenu>
      <el-submenu index="build">
        <template slot="title">
          <i class="icon legal"></i>
          <span>施工管理</span>
        </template>
        <el-menu-item index="buildList">
          <a href="../build/list.html">施工费清单</a>
        </el-menu-item>
        <el-menu-item index="buildDealList">
          <a href="../build/deal_list.html">备案合同清单</a>
        </el-menu-item>
        <el-menu-item index="buildFinishList">
          <a href="../build/finish_list.html">完工请款清单</a>
        </el-menu-item>
        <el-menu-item index="buildPayList">
          <a href="../build/pay_list.html">施工付款清单</a>
        </el-menu-item>
        <el-menu-item index="buildGetList">
          <a href="../build/get_list.html">施工收票清单</a>
        </el-menu-item>
      </el-submenu>
      <el-submenu index="loan">
        <template slot="title">
          <i class="icon ordered list"></i>
          <span>报销与借款管理</span>
        </template>
        <el-menu-item index="loanList">
          <a href="../loan/list.html">报销与借款清单</a>
        </el-menu-item>
        <el-menu-item index="loanDetailList">
          <a href="../loan/detail_list.html">查询明细</a>
        </el-menu-item>
        <el-menu-item index="loanLoanList">
          <a href="../loan/loan_list.html">借款清单</a>
        </el-menu-item>
        <el-menu-item index="loanSubmitList">
          <a href="../loan/submit_list.html">报销申请清单</a>
        </el-menu-item>
        <el-menu-item index="loanPayList">
          <a href="../loan/pay_list.html">报销付款清单</a>
        </el-menu-item>
      </el-submenu>
      <el-submenu index="pay">
        <template slot="title">
          <i class="icon yen"></i>
          <span>费用付款管理</span>
        </template>
        <el-menu-item index="payList">
          <a href="../pay/list.html">付款审批清单</a>
        </el-menu-item>
      </el-submenu>
      <el-submenu index="data">
        <template slot="title">
          <i class="icon database"></i>
          <span>数据维护</span>
        </template>
        <el-menu-item index="dataAuth">
          <a href="#">人员权限</a>
        </el-menu-item>
        <el-menu-item index="dataType">
          <a href="../data/type_list.html">项目类别</a>
        </el-menu-item>
        <el-menu-item index="dataSupplier">
          <a href="../data/supplier_list.html">供应商</a>
        </el-menu-item>
        <el-menu-item index="dataMateriel">
          <a href="../data/material_list.html">物料</a>
        </el-menu-item>
        <el-menu-item index="dataWarehouse">
          <a href="../data/warehouse_list.html">仓库</a>
        </el-menu-item>
        <el-menu-item index="dataBank">
          <a href="../data/bank_list.html">银行账户</a>
        </el-menu-item>
        <el-menu-item index="dataInvoice">
          <a href="../data/invoice_list.html">发票类型</a>
        </el-menu-item>
        <el-menu-item index="dataTeam">
          <a href="../data/team_list.html">施工队</a>
        </el-menu-item>
        <el-menu-item index="dataPayment">
          <a href="../data/payment_list.html">报销费用类型</a>
        </el-menu-item>
      </el-submenu>
    </el-menu>
  </div>
  <!-- /通用布局 -->

  <!-- 主体内容 === 不可复用 -->
  <div class="index-content print-no-padding">

<div class="ui breadcrumb">
  <a class="section">采购管理</a>
  <div class="divider"> / </div>
  <div class="active section">采购清单</div>
</div>
<!-- 操作区域 -->
<div class="content-operation flex-row flex-between flex-wrap" style="align-items: flex-end;">
  <div>
    <a class="ui green button" href="#">
      <i class="icon download"></i>
      <span>Excel 导出</span>
    </a>
  </div>
  <form action="/views/buy/list.html" class="ui form flex-fluid">
    <div class="flex-row flex-around flex-wrap">
      <div class="inline fields">
        <label>收货情况：</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="receive" value="1">
            <label>已收全</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="receive" value="0">
            <label>未收全</label>
          </div>
        </div>
      </div>
      <div class="inline fields">
        <label>付款情况：</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="payment" value="1">
            <label>已付清</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="payment" value="0">
            <label>未付清</label>
          </div>
        </div>
      </div>
      <div class="inline fields">
        <label>收票情况：</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="invoice" value="1">
            <label>已全收</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="invoice" value="0">
            <label>未全收</label>
          </div>
        </div>
      </div>
      <div class="inline fields">
        <label>项目状态：</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="status" value="1">
            <label>已结清</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="status" value="0">
            <label>未结清</label>
          </div>
        </div>
      </div>
    </div>
    <div class="ui left action right input fluid">
      <div class="ui button white dropdown ">
        <input name="seartch-type" type="hidden">
        <div class="text">请选中搜索内容</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="1">采购编号</div>
          <div class="item" data-value="2">供货商</div>
          <div class="item" data-value="3">项目编号</div>
          <div class="item" data-value="4">项目内容</div>
        </div>
      </div>
      <input name="value" type="text" placeholder="搜索内容" value="">
      <button class="ui button">搜索</button>
    </div>
  </form>
</div>
<!-- / 操作区域 -->

<div class="content-wrap table-head-nowrap">

  <table class="ui center aligned table selectable unstackable">
    <thead>
      <tr>
        <th>采购编号</th>
        <th>供货商</th>
        <th>采购金额</th>
        <th>项目编号</th>
        <th>项目内容</th>
        <th>项目经理</th>
        <th>预算内/外</th>
        <th>已收货</th>
        <th>未收货</th>
        <th>已付款</th>
        <th>应付账款</th>
        <th>发票条件</th>
        <th>已收票</th>
        <th>未收票</th>
        <th>项目状态</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="javascript:_helper.fullWindow('../buy/budgetary_check.html?id=1');">154376453254</a>
        </td>
        <td>xx供货商</td>
        <td>123,232,231 ￥</td>
        <td>xm125232213</td>
        <td class="table-content">这是一大段内容</td>
        <td>张喜</td>
        <td>内</td>
        <td>200</td>
        <td>400</td>
        <td>5000 ￥</td>
        <td>5600 ￥</td>
        <td>条件一</td>
        <td>2000 ￥</td>
        <td>2400 ￥</td>
        <td>未结清</td>
      </tr>
      <tr>
        <td>
          <a href="javascript:_helper.fullWindow('../buy/extrabudgetary_check.html?id=1');">154376453254</a>
        </td>
        <td>xx供货商</td>
        <td>123,232,231 ￥</td>
        <td>xm125232213</td>
        <td class="table-content">这是一大段内容</td>
        <td>张喜</td>
        <td>外</td>
        <td>200</td>
        <td>400</td>
        <td>5000 ￥</td>
        <td>5600 ￥</td>
        <td>条件二</td>
        <td>2000 ￥</td>
        <td>2400 ￥</td>
        <td>已结清</td>
      </tr>
    </tbody>
  </table>
</div>

</div>
<!-- /主体内容 === 不可复用 -->

<!-- 全局依赖 js === 通用 -->
<script src="../../plugins/jquery/jquery.3.2.1.min.js"></script>
<script src="../../plugins/vue/vue.min.js"></script>
<script src="../../plugins/semantic/semantic.min.js"></script>
<script src="../../plugins/element-ui/index.min.js"></script>
<!-- <script src="../../plugins/lodash/lodash.min.js"></script> -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../plugins/axios/qs.min.js"></script>
<!-- <script src="../../plugins/nprogress/nprogress.js"></script> -->
<!-- <script src="../../plugins/layDate/laydate.js"></script> -->
<script src="../../src/js/helper.js"></script>
<!-- <script src="../../src/js/api.js"></script> -->
<script src="../../src/js/schema.js"></script>
<script src="../../src/js/global.js"></script>
<!-- / 全局依赖 js === 通用 -->
<!-- 独立 js -->
<script src="../../src/js/buy_list.js"></script>
<!-- / 独立 js -->
</body>

</html>