#buyParityForm,
#loanDetailList {
    .ui.form {
        input,
        textarea,
        input,
        textarea {
            border-radius: 0;
            border-width: 0 0 1px 0;
        }
        .el-autocomplete {
            width: 100%;
        }
    }
    .fake-input {
        width: 100%;
        line-height: 1.21428571em;
        padding: .67857143em 1em;
        border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    }
}