#buyInvoiceCreate,
#stockBuyAdd,
#returnAdd,
#budgetCreate,
#stockGetAdd,
#buildDealAdd,
#buildPayApply,
#buildPayAdd,
#buildGetAdd,
#buildGetEdit,
#loanLoanAdd,
#loanLoanPay,
#loanSubmitOther,
#loanPayAdd,
#payAdd,
#payPay,
#dataTeamAdd,
#dataTypeAdd,
#dataSupplierAdd,
#dataMaterialAdd,
#dataWarehouseAdd,
#dataBankAdd,
#dataInvoiceAdd,
#dataPaymentAdd,
#dataPaymentEdit,
#outAddAdd {
    border: 1px solid #b9b2f3;
    padding: 20px;
    margin: 0 auto;
}