#loanLoanAdd,
#loanLoanPay,
#payAdd,
#payPay,
#dataSupplierAdd,
#dataMaterialAdd,
#dataWarehouseAdd,
#dataBankAdd {
    input {
        border-radius: 0;
        border-width: 0 0 1px 0;
    }
    .el-date-editor {
        width: 100%;
        input {
            padding-left: 40px;
        }
    }
    .el-select,
    .el-autocomplete {
        width: 100%;
    }
}