#projectCreate {
    border: 1px solid #b9b2f3;
    padding: 20px;
    margin: 0 auto;
    .form-item {
        padding: 1.5rem 10px;
    }
    .form-item label,
    .form-head label {
        white-space: nowrap;
    }
    .form-item input,
    .form-item textarea,
    .form-head input,
    .form-head textarea {
        border-radius: 0;
        border-width: 0 0 1px 0;
    }
    .form-item .el-input__inner {
        padding-left: 40px;
    }
    .el-date-editor.el-input,
    .el-date-editor.el-input__inner {
        width: 100%;
    }
    .form-wrap {
        padding: 1.5rem 0;
    }
    .form-order {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-thead {
        background-color: #98bcf3;
        color: #fff;
        text-align: center;
        border-right: 1px solid #fff;
    }
    .el-select {
        width: 100%;
    }
    #margins {
        .hor-divider {
            position: relative;
            top: -2rem;
            color: #3a75cf;
        }
        .margin-divider {
            left: -10px;
            >span {
                display: block;
                width: 1em;
                transform: translateY(-50%);
                line-height: 3;
                color: #3a75cf;
            }
        }
        .margin-delete {
            position: absolute;
            right: 10px;
            bottom: 30px;
        }
    }
}

.slide-down-item {
    display: inline-block;
    margin-right: 10px;
}

.slide-down-enter-active {
    transition: all 1s;
}

.slide-down-leave-active {
    transition: all .25s;
}

.slide-down-enter,
.slide-down-leave-to {
    opacity: 0;
}