<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- 全局依赖 ==== 所有页面都要有 -->
<link rel="stylesheet" type="text/css" href="../../plugins/semantic/semantic.min.css">
<link rel="stylesheet" type="text/css" href="../../plugins/element-ui/index.css">
<!-- <link rel="stylesheet" href="../../plugins/nprogress/nprogress.css"> -->
<link rel="stylesheet" type="text/css" href="../../src/css/erp.css">
<!-- /全局依赖 -->

  <title>采购收货查询</title>
</head>

<body id="index">
  <!-- 通用布局 === 复用 -->
  <div class="index-navbar ui menu blue-background print-hide">
    <span class="index-navbar-item-left pull-left">
      <span>森乾科技</span>
    </span>
    <div class="index-navbar-item-show right menu">
      <a class="item">
        <i class="user icon"></i>
        <span>管理员</span>
      </a>
      <a class="item">
        <i class="help circle icon"></i>
        <span>帮助</span>
      </a>
      <a class="item">
        <i class="sound icon"></i>
        <span>客服</span>
      </a>
      <a class="item">
        <i class="power icon"></i>
        <span>退出</span>
      </a>
    </div>
    <div class="index-navbar-item-hidden margin-right ui dropdown">操作
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">
          <i class="user icon"></i>
          <span>管理员</span>
        </a>
        <a class="item">
          <i class="help circle icon"></i>
          <span>帮助</span>
        </a>
        <a class="item">
          <i class="sound icon"></i>
          <span>客服</span>
        </a>
        <a class="item">
          <i class="power icon"></i>
          <span>退出</span>
        </a>
      </div>
    </div>
  </div>

  <!-- 没有导航的单独窗口页面 -->
  <div class="normal-content print-no-padding">

<div class="ui breadcrumb">
  <a class="section">库存管理</a>
  <div class="divider"> / </div>
  <a class="section" href="../stock/list.html">采购收购清单</a>
  <div class="divider"> / </div>
  <div class="active section">采购收货查询 - CG1231532311</div>
</div>

<div class="flex-row flex-between margin-top-20" id="stockBuyCheck">

  <table class="ui celled structured table center aligned" style="width:60%;">
    <thead>
      <tr>
        <th>采购编号</th>
        <td colspan="2">CG213123213</td>
        <th>采购日期</th>
        <td colspan="3">2018-02-03</td>
      </tr>
      <tr>
        <th>采购商名称</th>
        <td colspan="6">xxx 采购商</td>
      </tr>
      <tr>
        <th>采购金额</th>
        <td colspan="5">123,523,123 ￥</td>
        <th>收货入库记录</th>
      </tr>
      <tr>
        <th>项目编号</th>
        <td colspan="5">XM16312412321</td>
        <th>收货入库编号</th>
      </tr>
      <tr>
        <th>项目内容</th>
        <td colspan="5">这是一串项目内容~</td>
        <th>入库日期</th>
      </tr>
      <tr>
        <th>项目经理</th>
        <td colspan="5">陈先生</td>
        <th>收货人</th>
      </tr>
      <tr>
        <th colspan="6">采购物料清单</th>
        <th>仓库</th>
      </tr>
      <tr>
        <th>序号</th>
        <th>物料名称</th>
        <th>型号</th>
        <th>单位</th>
        <th>单价</th>
        <th>采购数量</th>
        <th>采购金额</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>线缆</td>
        <td>xxx</td>
        <td>个</td>
        <td>20 ￥</td>
        <td>500</td>
        <td>10,000 ￥</td>
      </tr>
      <tr>
        <td>2</td>
        <td>线缆</td>
        <td>xxx</td>
        <td>个</td>
        <td>20 ￥</td>
        <td>500</td>
        <td>10,000 ￥</td>
      </tr>
      <tr>
        <td>3</td>
        <td>线缆</td>
        <td>xxx</td>
        <td>个</td>
        <td>20 ￥</td>
        <td>500</td>
        <td>10,000 ￥</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="6">合计</th>
        <th>10,000￥</th>
      </tr>
    </tfoot>
  </table>

  <div class="flex-row" style="overflow:auto; flex: 1;">
    <!-- 重复渲染部分 -->
    <div class="scorll-table">
      <table class="ui celled structured table center aligned">
        <thead>
          <tr>
            <td> </td>
          </tr>
          <tr>
            <td> </td>
          </tr>
        </thead>
      </table>
      <table class="ui celled structured table center aligned">
        <thead>
          <tr>
            <td colspan="4">1</td>
          </tr>
          <tr>
            <td colspan="4">SHRK2-1703001</td>
          </tr>
          <tr>
            <td colspan="4">2017-03-01</td>
          </tr>
          <tr>
            <td colspan="4">瑞先生</td>
          </tr>
          <tr>
            <td colspan="4">仓库一</td>
          </tr>
          <tr>
            <th>收货数量</th>
            <th>收货金额</th>
            <th>剩余数量</th>
            <th>剩余金额</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>200</td>
            <td>4,000 ￥</td>
            <td>300</td>
            <td>6000 ￥</td>
          </tr>
          <tr>
            <td>200</td>
            <td>4,000 ￥</td>
            <td>300</td>
            <td>6000 ￥</td>
          </tr>
          <tr>
            <td>200</td>
            <td>4,000 ￥</td>
            <td>300</td>
            <td>6000 ￥</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th>4,000 ￥</th>
            <th></th>
            <th>6,000 ￥</th>
          </tr>
          <tr>
            <td colspan="4">
              <a class="ui mini button primary" href="javascript:_helper.fullWindow();">收货凭证</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- / 重复渲染部分 -->

    <div class="scorll-table">
      <table class="ui celled structured table center aligned">
        <thead>
          <tr>
            <td> </td>
          </tr>
          <tr>
            <td> </td>
          </tr>
        </thead>
      </table>
      <table class="ui celled structured table center aligned">
        <thead>
          <tr>
            <td colspan="4">1</td>
          </tr>
          <tr>
            <td colspan="4">SHRK2-1703001</td>
          </tr>
          <tr>
            <td colspan="4">2017-03-01</td>
          </tr>
          <tr>
            <td colspan="4">瑞先生</td>
          </tr>
          <tr>
            <td colspan="4">仓库一</td>
          </tr>
          <tr>
            <th>收货数量</th>
            <th>收货金额</th>
            <th>剩余数量</th>
            <th>剩余金额</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>200</td>
            <td>4,000 ￥</td>
            <td>300</td>
            <td>6000 ￥</td>
          </tr>
          <tr>
            <td>200</td>
            <td>4,000 ￥</td>
            <td>300</td>
            <td>6000 ￥</td>
          </tr>
          <tr>
            <td>200</td>
            <td>4,000 ￥</td>
            <td>300</td>
            <td>6000 ￥</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th>4,000 ￥</th>
            <th></th>
            <th>6,000 ￥</th>
          </tr>
          <tr>
            <td colspan="4">
              <a class="ui mini button primary" href="javascript:_helper.fullWindow();">收货凭证</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="inline-center margin-top-20">
  <button class="ui button primary large">
    <i class="icon hand pointer"></i>
    <a href="javascript:_helper.fullWindow('')">收货入库</a>
  </button>
</div>

</div>
<!-- /主体内容 === 不可复用 -->

<!-- 全局依赖 js === 通用 -->
<script src="../../plugins/jquery/jquery.3.2.1.min.js"></script>
<script src="../../plugins/vue/vue.min.js"></script>
<script src="../../plugins/semantic/semantic.min.js"></script>
<script src="../../plugins/element-ui/index.min.js"></script>
<!-- <script src="../../plugins/lodash/lodash.min.js"></script> -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../plugins/axios/qs.min.js"></script>
<!-- <script src="../../plugins/nprogress/nprogress.js"></script> -->
<!-- <script src="../../plugins/layDate/laydate.js"></script> -->
<script src="../../src/js/helper.js"></script>
<!-- <script src="../../src/js/api.js"></script> -->
<script src="../../src/js/schema.js"></script>
<script src="../../src/js/global.js"></script>
<!-- / 全局依赖 js === 通用 -->
<!-- 独立 js -->
<script src=""></script>
<!-- / 独立 js -->
</body>

</html>