<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- 全局依赖 ==== 所有页面都要有 -->
<link rel="stylesheet" type="text/css" href="../../plugins/semantic/semantic.min.css">
<link rel="stylesheet" type="text/css" href="../../plugins/element-ui/index.css">
<!-- <link rel="stylesheet" href="../../plugins/nprogress/nprogress.css"> -->
<link rel="stylesheet" type="text/css" href="../../src/css/erp.css">
<!-- /全局依赖 -->

  <title>退货出库查询 - THCK20171103001</title>
</head>

<body id="index">
  <!-- 通用布局 === 复用 -->
  <div class="index-navbar ui menu blue-background print-hide">
    <span class="index-navbar-item-left pull-left">
      <span>森乾科技</span>
    </span>
    <div class="index-navbar-item-show right menu">
      <a class="item">
        <i class="user icon"></i>
        <span>管理员</span>
      </a>
      <a class="item">
        <i class="help circle icon"></i>
        <span>帮助</span>
      </a>
      <a class="item">
        <i class="sound icon"></i>
        <span>客服</span>
      </a>
      <a class="item">
        <i class="power icon"></i>
        <span>退出</span>
      </a>
    </div>
    <div class="index-navbar-item-hidden margin-right ui dropdown">操作
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">
          <i class="user icon"></i>
          <span>管理员</span>
        </a>
        <a class="item">
          <i class="help circle icon"></i>
          <span>帮助</span>
        </a>
        <a class="item">
          <i class="sound icon"></i>
          <span>客服</span>
        </a>
        <a class="item">
          <i class="power icon"></i>
          <span>退出</span>
        </a>
      </div>
    </div>
  </div>

  <!-- 没有导航的单独窗口页面 -->
  <div class="normal-content print-no-padding">

<div class="ui breadcrumb print-hide">
  <a class="section">库存管理</a>
  <div class="divider"> / </div>
  <a class="section" href="../pay/list.html">退货出库清单</a>
  <div class="divider"> / </div>
  <div class="active section">退货出库查询 - THCK20171103001</div>
</div>

<h3 class="ui header center aligned">退货出库清单</h3>
<div class="flex-row flex-end">
  <p class="print-title">
    <b>退货出库编号：</b>THCK20171103001</p>
</div>
<div class="flex-row flex-end">
  <p class="print-title">
    <b>入库日期：</b>2018-02-11</p>
  <p class="print-title">
    <b>入库仓库：</b>xxx仓库</p>
</div>
<table class="ui celled center aligned table unstackable">
  <thead>
    <tr>
      <th>采购编号</th>
      <th class="fake-td">CK20192939122</th>
      <th>采购日期</th>
      <th class="fake-td">2017-01-01</th>
      <th>采购金额</th>
      <th class="fake-td">12,523￥</th>
      <th>项目编号</th>
      <th class="fake-td">XM291232112</th>
      <th>项目内容</th>
      <th class="fake-td" colspan="2">这是项目内容xxx</th>
      <th>项目经理</th>
      <th class="fake-td">刘朝阳</th>
    </tr>
    <tr>
      <th>供货商名称</th>
      <th colspan="7" class="fake-td">xxx供货商</th>
      <th>退货原因</th>
      <th colspan="4" class="fake-td">xxxxx原因</th>
    </tr>
    <tr>
      <th colspan="9">采购物料清单</th>
      <th colspan="2">已收货情况</th>
      <th colspan="2">本次退货情况</th>
    </tr>
    <tr>
      <th></th>
      <th>物料名称</th>
      <th>性能及技术参数</th>
      <th>品牌型号</th>
      <th>生产厂家</th>
      <th>单位</th>
      <th>单价</th>
      <th>采购数量</th>
      <th>采购金额</th>
      <th>已收货数量</th>
      <th>已收货金额</th>
      <th>本次退货数量</th>
      <th>本次退货金额</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>线缆</td>
      <td>这是性能参数</td>
      <td>ak232</td>
      <td>xxx厂家</td>
      <td>个</td>
      <td>125￥</td>
      <td>21,523</td>
      <td>12,352￥</td>
      <td>125</td>
      <td>52,123￥</td>
      <td>510</td>
      <td>523,523￥</td>
    </tr>
    <tr>
      <td>2</td>
      <td>线缆</td>
      <td>这是性能参数</td>
      <td>ak232</td>
      <td>xxx厂家</td>
      <td>个</td>
      <td>125￥</td>
      <td>21,523</td>
      <td>12,352￥</td>
      <td>125</td>
      <td>52,123￥</td>
      <td>510</td>
      <td>523,523￥</td>
    </tr>
    <tr>
      <td>3</td>
      <td>线缆</td>
      <td>这是性能参数</td>
      <td>ak232</td>
      <td>xxx厂家</td>
      <td>个</td>
      <td>125￥</td>
      <td>21,523</td>
      <td>12,352￥</td>
      <td>125</td>
      <td>52,123￥</td>
      <td>510</td>
      <td>523,523￥</td>
    </tr>
    <tr>
      <td>4</td>
      <td>线缆</td>
      <td>这是性能参数</td>
      <td>ak232</td>
      <td>xxx厂家</td>
      <td>个</td>
      <td>125￥</td>
      <td>21,523</td>
      <td>12,352￥</td>
      <td>125</td>
      <td>52,123￥</td>
      <td>510</td>
      <td>523,523￥</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="7">合计</th>
      <th>0</th>
      <th>0</th>
      <th>0</th>
      <th>0</th>
      <th>0</th>
      <th>0</th>
    </tr>
  </tfoot>
</table>

<div class="content-operation print-hide">
  <div class="flex-row flex-end">
    <a class="ui icon button primary" href="javascript:window.print();">
      <i class="icon print"></i>
      <span>打印</span>
    </a>
  </div>
</div>

</div>
<!-- /主体内容 === 不可复用 -->

<!-- 全局依赖 js === 通用 -->
<script src="../../plugins/jquery/jquery.3.2.1.min.js"></script>
<script src="../../plugins/vue/vue.min.js"></script>
<script src="../../plugins/bignumber/bignumber.min.js"></script>
<script src="../../plugins/semantic/semantic.min.js"></script>
<script src="../../plugins/element-ui/index.min.js"></script>
<!-- <script src="../../plugins/lodash/lodash.min.js"></script> -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../plugins/axios/qs.min.js"></script>
<!-- <script src="../../plugins/nprogress/nprogress.js"></script> -->
<!-- <script src="../../plugins/layDate/laydate.js"></script> -->
<script src="../../src/js/helper.js"></script>
<script src="../../src/js/api.js"></script>
<script src="../../src/js/schema.js"></script>
<script src="../../src/js/global.js"></script>
<!-- / 全局依赖 js === 通用 -->
<!-- 独立 js -->
<script src="../../src/js/pay_single.js"></script>
<!-- / 独立 js -->
</body>

</html>