<include src="../template/normalHeader.html">
  @title = 新增发票类型
</include>

<div class="ui breadcrumb">
  <a class="section">数据维护</a>
  <div class="divider"> / </div>
  <a class="section" href="../data/invoice_list.html">发票列表</a>
  <div class="divider"> / </div>
  <div class="active section">新增发票类型</div>
</div>

<h4 class="ui dividing header blue">信息录入</h4>
<div id="dataInvoiceAdd">
  <div class="ui form">
    <div class="ui three column doubling stackable grid">
      <div class="column">
        <div class="inline fields">
          <label class="six wide field flex-center">发票类型名称</label>
          <div class="eleven wide field">
            <input type="hidden" id="invoiceName" value="专用票11%">
            <input type="text" v-model="invoiceForm.name" placeholder="请输入发票类型名称">
          </div>
        </div>
      </div>
      <div class="column">
        <div class="inline fields">
          <label class="six wide field flex-center">备注</label>
          <div class="eleven wide field">
            <input type="hidden" id="invoiceRemark" value="这是一些备注">
            <input type="text" v-model="invoiceForm.remark" placeholder="请输入备注">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="inline-center margin-top-20">
    <button class="ui button primary large" @click="submit">
      <i class="icon hand pointer"></i>
      <span>确定</span>
    </button>
  </div>

</div>
<include src="../template/footer.html">
  @js = ../../src/js/data_invoice_add.js
</include>